
# Visual Studio Core related files
.vscode
.DS_Store

# Python compiler cache
**/__pycache__

# Log files
**/log_*.*
**/*.log

# Report file
test-results/**/*.*
**/*.xml

# Sensitive data
**/*.pfx
passphrase